<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tlh.exam.mapper.QuestionTypeMapper">

    <resultMap id="type" type="org.tlh.exam.entity.QuestionType">
        <id property="id" column="id" javaType="int"/>
        <result property="name" column="name" javaType="string"/>
        <result property="description" column="description" javaType="string"/>
        <result property="createTime" column="create_time" javaType="date"/>
        <result property="updateTime" column="update_time" javaType="date"/>
        <result property="isActive" column="is_active" javaType="boolean"/>
    </resultMap>

    <select id="findAll" resultMap="type">
        select * from et_question_type
        <where>
            <if test="name!=null and name!=''">
                name like concat(#{name},'%')
            </if>
        </where>
    </select>

    <select id="findQuestionTypeById" resultMap="type" parameterType="int">
        select * from et_question_type where id=#{value}
    </select>

    <insert id="insertQuestionType" parameterType="org.tlh.exam.entity.QuestionType" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into et_question_type(name,description,is_active) values (#{name},#{description},#{isActive})
    </insert>

    <update id="updateQuestionType" parameterType="org.tlh.exam.entity.QuestionType">
        update et_question_type
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="description!=null and description!=''">
                description=#{description}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="updateQuestionTypeStatus">
        update et_question_type set is_active=#{active} where id=#{id}
    </update>

    <delete id="deleteQuestionType" parameterType="int">
        delete from et_question_type where id=#{value}
    </delete>

</mapper>