<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tlh.exam.mapper.SubjectMapper">

    <resultMap id="type" type="org.tlh.exam.entity.Subject">
        <id property="id" column="id" javaType="int"/>
        <result property="name" column="name" javaType="string"/>
        <result property="description" column="description" javaType="string"/>
        <result property="createTime" column="create_time" javaType="date"/>
        <result property="updateTime" column="update_time" javaType="date"/>
        <result property="isActive" column="is_active" javaType="boolean"/>
    </resultMap>

    <select id="findAll" resultMap="type">
        select * from et_subjects
    </select>

    <select id="allActive" resultMap="type">
        select * from et_subjects where is_active=true
    </select>

    <select id="findSubjectById" resultMap="type" parameterType="int">
        select * from et_subjects where id=#{value}
    </select>

    <insert id="insertSubject" parameterType="org.tlh.exam.entity.QuestionType" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into et_subjects(name,description,is_active) values (#{name},#{description},#{isActive})
    </insert>

    <update id="updateSubject" parameterType="org.tlh.exam.entity.QuestionType">
        update et_subjects
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="description!=null and description!=''">
                description=#{description}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="updateSubjectStatus">
        update et_subjects set is_active=#{active} where id=#{id}
    </update>

    <delete id="deleteSubject" parameterType="int">
        delete from et_subjects where id=#{value}
    </delete>

</mapper>