import request from '@/utils/request'

export function fetchList(query) {
    return request({
        url: '${moduleName}/${secondModuleName}/list',
        method: 'get',
        params: query
    })
}

export function fetchOne(id) {
    return request({
        url: '${moduleName}/${secondModuleName}/detail/' + id,
        method: 'get'
    })
}

export function createOne(data) {
    return request({
        url: '${moduleName}/${secondModuleName}/save',
        method: 'post',
        data
    })
}

export function deleteOne(id) {
    return request({
        url: '${moduleName}/${secondModuleName}/delete/' + id,
        method: 'delete'
    })
}

export function updateOne(data) {
    return request({
        url: '${moduleName}/${secondModuleName}/update/',
        method: 'put',
        data
    })
}

export function activeOne(data) {
    return request({
        url: '${moduleName}/${secondModuleName}/active/' + data.id + '/' + data.active,
        method: 'put'
    })
}
